<%= render partial: "header", locals: {title: ''}%>

<%= link_to "back home", blogs_path, class: 'btn btn-success'%>
<div class="card mt-2 mb-2">
  <div class="card-title d-flex bg-light text-dark justify-content-between">
    <h2><%= @blog.title%></h2>
    <p>Created <%= distance_of_time_in_words(Time.now, @blog.created_at)%> ago</p>
  </div>
  <div class="card-text">
    <p class="blog_content-font"><%= @blog.content%></p>
  </div>
</div>
  
<% if !@user.nil? && @user.id == @blog.user_id%>
  <div class="row border-bottom pb-3">
    <%= link_to "Edit", edit_blog_path, class: 'btn btn-info mr-2'%>
    <%= link_to "Delete", blog_path, method: :delete, class: 'btn btn-warning', data: {confirm: "Do you really want to delete this?"}%>
  </div>
<%end%>

<div class="row my-3 pb-3 border-bottom flex-column">
  <h3>Add comment</h3>
  <%= render partial: "comments/form"%>
  <div>
    <% if @comment.errors.any?%>
    <div class="alert alert-danger">
      <% @comment.errors.full_messages.each do |error|%>
      <p class="larger-text"><%= error%></p>
      <%end%>
    </div>
    <%end%>
  </div>
</div>

<div class="row mb-5 flex-column">
    <h3>Comments <%= @blog.comments.count%></h3>
    <% unless @blog.comments.empty?%>
      <% @blog.comments.each do |comment|%>
    <div class="card mt-2 mb-2">
      <div class="card-title d-flex bg-light text-dark justify-content-between">
        <p><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago <%=comment.name%> said </p>
      </div>
      <div class="card-text">
        <p><%=comment.comment%></p>
      </div>
    </div>
      <%end%>
    <%end%>
</div>

